/*Globals*/
.center{
    display: block;
    margin:0 auto;
}

.txt-center{
    text-align: center;
}

/*Data Tables */
    .dataTables_filter label input[type=search]{
            display: block;
            width: 100%;
            height: 28px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

/*Side bar*/
.list-profile-sidebar{
    padding:10px;
}
    
/*Profile page*/
.user-profile-100{
	width:100px;
	height: 100px;
}

.user-profile-50{
    width:50px;
    height: 50px;
}

.profile-location-text{
    margin-left: 20px;
    float: left;
    margin-top: 30px;
}

.profile-logo-header{
    width: 100px;
    height: 100px;
    float: left;
}
/*End Profile page*/

